---
import Layout from '../layouts/Layout.astro';
import VueComponent from '../components/vue-component.vue';
---

<Layout title="Hola mundo" transition:name="pages">
  <h1>hola mundo - page 2</h1>
  <VueComponent></VueComponent>
</Layout>
